# OSX
.DS_Store

# Miniaturas
._ *

# Archivos que pueden aparecer en la raíz de un volumen
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
#expo
.expo
.expo-shared

#yarn-error.log
yarn-error.log

#node_modules
node_modules

# Xcode
construir /
* .pbxuser
! default.pbxuser
* .mode1v3
! default.mode1v3
* .mode2v3
! default.mode2v3
* .perspectivev3
! default.perspectivev3
xcuserdata
* .xccheckout
* .moved-side
DerivedData
* .hmap
* .ipa
* .xcuserstate
project.xcworkspace

# Android / IJ
.idea
.gradle
propiedades.locales

# node.js
módulos_nodo /
npm-debug.log

# BUCK
buck-out /
\. buckd /
android / app / libs
android / keystores / debug.keystore
